/* 全局背景色 */
$bg-parimary:#252629;
/* 论坛帖背景色 */
$post-parimary:#393b3e;
/* input背景色 */
$bg-input-primary:rgb(49, 51, 56);
$bg-scroll:rgb(56, 58, 64);

/* divider分割色 */
$divider:rgba(78, 80, 88, 0.48);

/* Tag */
$tag-text:rgb(71, 82, 196);
$tag-bg:rgb(201,205,251);
$channel-text-area-placeholder:rgb(109, 111, 120);
$tag-text:rgb(181, 186, 193);



/* 文字色 */
$text-post-title:rgb(148, 155, 164);
$text-post-normal:rgb(219, 222, 225);
$text-post-small:rgb(148, 155, 164);
$text-thread-title:rgb(242, 243, 245);
$text-muted:rgb(148, 155, 164);

/* 悬停阴影 */
$shadow-naormal:rgba(0, 0, 0, 0.24) 0px 8px 16px 0px

