@font-face {
  font-family: "iconfont"; /* Project id 4428080 */
  src: url('//at.alicdn.com/t/c/font_4428080_7h6ydeso55w.woff2?t=1706934036506') format('woff2'),
       url('//at.alicdn.com/t/c/font_4428080_7h6ydeso55w.woff?t=1706934036506') format('woff'),
       url('//at.alicdn.com/t/c/font_4428080_7h6ydeso55w.ttf?t=1706934036506') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gif:before {
  content: "\eba2";
}

.icon-fasongtupian:before {
  content: "\e664";
}

.icon-gift-full:before {
  content: "\e8b5";
}

.icon-face-kiss-wink-heart:before {
  content: "\eda7";
}

.icon-htmal5icon18:before {
  content: "\e636";
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e617";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-24gf-bubble:before {
  content: "\e957";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}